.w-50 {
    display: inline-block;
    width: 49.5%;
}
.order-group {
    width: 18%;
    display: inline-block;
}
.order-group-holder {
    padding: 0px 3%;
}
#generate-indent {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    box-shadow: 0px 0px 5px #cecece;
}

.order-list input[type="text"], .order-list label{
    display: block;
}

.order-list input[type="text"]{
    margin-top: 5px;
}

#terms {
    height: 80px !important;
}
#generate-indent-form .text-input, input, textarea, select {
    width: 100%;
}
input[type='submit'] {
    width: 150px !important;
}
form {
    margin: 40px 0px;
}
h3 {
    margin-top: 50px;
}
.order-group-holder {
    margin: 20px 0px;
}
.order-group label {
    margin-bottom: 10px;
    font-size: 13px;
}
.form-group {
    margin-bottom: 30px;
}
.order-input {
    width: 100px !important;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #b1b1b1;
    padding-left: 5px;
    background-color: rgba(156, 156, 156, 0.23);
}
.order-list {
    display: inline-block;
}

#sales-order-list{
    margin: 20px auto 40px;
    font-size: 16px;
    display: block;
}


.create-btn{
    margin-bottom: 40px;
}

.material-btn{
    padding-right: 5PX;
}
.info{
    font-size: 14px;
    padding: 15px;
    background-color: #f7f7f7;
    margin: 0px;
    font-weight: 600;
    text-align: center;
}


.list-input-spacing .order-input{
    margin-right: 20px; 
}